.section {
  display: grid;
  grid-template-columns: auto;
  gap: 0 1rem;
  grid-template-areas:
    "title title"
    "products products"
    "summary summary";
  margin-bottom: 5rem;
  padding: 0 var(--padding-sm);
}
.title {
  grid-area: title;
  font-size: var(--fs-3);
  font-weight: 500;
  padding: 1rem 0;
  border-bottom: 1px solid var(--cultured);
}
.bag {
  grid-area: products;
  padding: 1rem 0;
}
.product {
  display: grid;
  grid-template-columns: 1fr 4fr;
  gap: 0 1rem;
  grid-template-areas:
    "image name-and-coupon"
    "image price-and-remove"
    "image quantity";
  border-bottom: 1px solid var(--cultured);
  padding: 1rem 0;
}
.product:first-child {
  padding-top: 0;
}
.product:last-child {
  border-bottom: none;
}
.productImage {
  grid-area: image;
  width: 5rem;
  height: 5rem;
  object-fit: contain;
  background-color: var(--ash-gray);
  border-radius: var(--border-radius-md);
}
.nameAndCoupon {
  grid-area: name-and-coupon;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.productName {
  max-width: 13rem;
  font-size: var(--fs-7);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.coupon {
  font-size: var(--fs-8);
  text-transform: uppercase;
  color: var(--sonic-silver);
}
.priceAndRemove {
  grid-area: price-and-remove;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.removeButton {
  display: none;
}
.productPrice {
  font-size: var(--fs-7);
  color: var(--ocean-green);
  border-radius: var(--border-radius-sm);
  padding: 0;
  border: none;
  color: var(--eric-black);
  font-weight: 500;
}
.removeButton {
  font-size: var(--fs-7);
  padding: 0.5rem;
  color: var(--bittersweet);
  text-align: center;
}
.spinner {
  animation: spin 1s linear infinite;
}
.saved {
  color: var(--ocean-green-dark);
  font-size: var(--fs-9);
  text-transform: capitalize;
}

/* Order summary */
.summary {
  grid-area: summary;
  font-size: var(--fs-6);
}
.summaryTitle {
  font-size: var(--fs-3);
  font-weight: 500;
  padding: 1rem 0;
  border-bottom: 1px solid var(--cultured);
}
.summaryList li {
  display: flex;
  justify-content: space-between;
  padding: 1rem 0;
  border-bottom: 1px solid var(--cultured);
}
.summaryList li :first-child {
  color: var(--sonic-silver);
}
.checkoutButton {
  width: 100%;
  padding: 0.7rem;
  background-color: var(--ocean-green);
  color: var(--white);
  font-size: var(--fs-6);
  font-weight: 500;
  border: none;
  border-radius: var(--border-radius-md);
  cursor: pointer;
  transition: var(--transition-timing);
}
.checkoutButton:hover {
  background-color: var(--ocean-green-dark);
}
.checkoutButton:active {
  scale: 0.9;
}

/* DISCOUNT COUPON */
.discountCoupon,
.spinnerContainer {
  width: 20rem;
  display: flex;
  gap: 0.5rem;
  position: relative;
  margin: 1rem 0;
}
.spinner {
  margin: auto;
}
.couponError {
  width: 100%;
  color: var(--bittersweet-dark);
  font-size: var(--fs-9);
  font-weight: var(--weight-500);
  margin: 1rem 0 0.25rem;
}
.discountCoupon input {
  padding: 0.5rem 1rem;
  font-size: var(--fs-8);
  border: 1px solid var(--cultured);
  border-radius: var(--border-radius-sm);
  text-transform: uppercase;
  width: 100%;
}
.discountCoupon input:focus {
  outline: 1px solid var(--sandy-brown);
}
.discountCoupon input::placeholder {
  color: var(--spanish-gray);
  text-transform: capitalize;
}
.discountCoupon button {
  padding: 0.5rem 1rem;
  border: 1px solid var(--cultured);
  border-radius: var(--border-radius-sm);
  background: var(--white);
  font-size: var(--fs-8);
  cursor: pointer;
  transition: var(--transition-timing);
}
.discountCoupon button:hover {
  background: var(--cultured);
}
.discountCoupon button:active {
  scale: 0.9;
}

.couponApplied {
  font-size: var(--fs-9);
  font-weight: var(--weight-500);
  margin: 1rem 0 0.25rem;
  display: grid;
  gap: 0 0.5rem;
  margin-bottom: 1rem;
  align-items: center;
  width: 100%;
  grid-template-columns: auto 1fr 1fr;
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas:
    "wallet text1 remove"
    "wallet text2 remove";
}
.couponApplied .wallet {
  color: var(--sandy-brown);
  grid-area: wallet;
}
.couponApplied p:nth-of-type(1) {
  grid-area: text1;
  font-size: var(--fs-8);
}
.couponApplied p:nth-of-type(2) {
  grid-area: text2;
  font-size: var(--fs-9);
  color: var(--spanish-gray);
}
.couponApplied .cross {
  grid-area: remove;
  cursor: pointer;
}

@media (min-width: 570px) {
  .product {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
    padding: 1rem 0;
  }
  .productName {
    max-width: 10rem;
  }
  .productPrice {
    color: var(--ocean-green);
    border: 3px solid var(--ocean-green);
    font-weight: normal;
    padding: 0.2rem 0.5rem;
  }
  .priceAndRemove {
    flex-direction: column;
  }
  .removeButton {
    display: inline;
  }

  /* order summary */
  .summary {
    font-size: var(--fs-6);
  }
}
@media (min-width: 1024px) {
  .productName {
    max-width: 15rem;
  }
  .summary {
    padding: 1rem;
    padding-right: 0;
    border-left: 1px solid var(--cultured);
  }
  .section {
    grid-template-columns: 35rem auto;
    gap: 2rem 3rem;
    grid-template-areas:
      "title title"
      "products summary";
    padding: 0 var(--padding-x-lg);
  }
}
@media (min-width: 1200px) {
  .section {
    grid-template-columns: 40rem auto;
    padding: 0 var(--padding-sm);
  }
}

/* SPIN animation */
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
