.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 100;
  background: rgba(0, 0, 0, 0.3);
}
.modal {
  overflow: scroll;
  position: fixed !important;
  z-index: 101;
}
.modal.center {
  top: 35%;
  left: 50%;
  transform: translate(-50%, 0%);
}
