:root {
  --primary: #008060;
  --secondary: #111213;
  --surface: #111213;
  --onSurface: #111213;
  --interactive: #2c6ecb;
  --critical: #d72c0d;
  --critical-dark: #b71b00;
  --critical-light: #ffe1db;
  --warning: #ffc453;
  --highlight: #5bcdda;
  --highlight-light: #e6fdff;
  --success: #aee9d1;
  --info: #2c6ecb;
  --info-light: #e8f0fe;
  --disabled: #e4e5e7;
  --decorative: #ffc96b;
  --border: #8c9196;
  --background: #f6f6f7fc;
  --icon: #5c5f62;
  --textSubdued: #6d7175;
  --divider: #e1e3e5;
  --text: #202223;
  --formFieldBorder: #c9cccf;
  --formFieldBorderShadow: #aeb4b9;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #f6f6f7;
}

.flex {
  display: flex;
  align-items: center;
}
.mr-1 {
  margin-right: 1rem;
}
/* width */
::-webkit-scrollbar {
  width: 10px;
  scroll-behavior: smooth;
}

/* Track */
::-webkit-scrollbar-track {
  /* background: #f1f1f1; */
  background-color: var(--divider);
}

/* Handle */
::-webkit-scrollbar-thumb {
  /* background: #888; */
  background-color: #058c8c;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--primary);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
