.label{
    cursor: pointer;
}
.checkbox{
    width: 1rem;
    height: 1rem;
    display: inline-block;
    border: 2px solid #008060;
    border-radius: 50%;
    vertical-align: middle;
    position: relative;
    user-select: none;
}
.checkbox::after{
    content: '';
    width: 0.5rem;
    height: 0.5rem;
    display: block;
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.input:checked + .checkbox::after{
    background-color: #008060;
}
.text{
    vertical-align: middle;
    margin-left: 0.5rem;
}