.container {
  margin-bottom: 5rem;
}
.container *{
  user-select: none;
}
.card,
.discountCard {
  margin-top: 1rem;
}
.cardTitle {
  display: block;
  font-weight: 500;
  margin-bottom: 1rem;
}
.card textarea {
  height: 5rem;
  resize: vertical;
}
.statusToggle {
  margin-top: 3px !important;
}
.card > label:first-of-type {
  margin-top: 0;
}
.card > label {
  margin-top: 1.5rem;
}
.amount_and_date {
  margin-top: 1.5rem;
  display: flex;
  justify-content: space-between;
}
.amount_and_date input {
  width: 15rem !important;
}
.discountCard .discountTypeOption {
  display: block;
  color: #333;
  font-size: 0.86rem;
  cursor: pointer !important;
  margin-bottom: 0.5rem;
}
.discountValue{
  margin-top: 1rem;
}
.multiSelect{
  max-width: 20rem;
}


.footer{
  display: flex;
  justify-content: space-between;
  background-color: transparent !important;
  box-shadow: none !important;
  padding: 0;
  margin-top: 1.5rem;
  padding-top: 1.5rem !important;
  border-top: 1px solid var(--divider);
  border-radius: 0;
}
.saveButton{
  background-color: #008060;
  color: #fff;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.3s;
  border: none;
}
.saveButton:hover{
  background-color: #007050;
}
.cancelButton{
  background-color: transparent;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.3s;
  color: var(--critical);
  border: 2px solid var(--critical);
}
.cancelButton:hover{
  background-color: var(--critical-light);
}
.saveButton:active, .cancelButton:active{
  scale: 0.9;
}