:root {
  --primary: #008060;
  --secondary: #111213;
  --surface: #111213;
  --onSurface: #111213;
  --interactive: #2c6ecb;
  --critical: #d72c0d;
  --critical-light: #ffe1db;
  --warning: #ffc453;
  --highlight: #5bcdda;
  --success: #aee9d1;
  --info: #2c6ecb;
  --info-light: #e8f0fe;
  --disabled: #e4e5e7;
  --decorative: #ffc96b;
  --border: #8c9196;
  --background: #f6f6f7fc;
  --icon: #5c5f62;
  --textSubdued: #6d7175;
  --divider: #e1e3e5;
  --text: #202223;
  --formFieldBorder: #c9cccf;
  --formFieldBorderShadow: #aeb4b9;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #f6f6f7;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
