.container {
  width: 100%;
  padding-bottom: 10rem;
}
.title {
  display: flex;
  margin: 1.5rem 0 1.3rem;
  justify-content: space-between;
}
.title h1 {
  font-weight: 600;
  font-size: 1.15rem;
}
.card {
  padding-bottom: 0.5rem !important;
}
.cardTitle {
  font-weight: 500;
  font-size: 0.95rem;
}
.cardWrapper {
  display: grid;
  grid-template-columns: 40rem 20rem;
  grid-template-rows: repeat(auto-fill, 5rem);
  gap: 1rem;
  grid-auto-flow: column;
  grid-template-areas:
    "status customerNote"
    "payment customer";
}
/* status styles it can be processing, shipped or delivered */
.status {
  grid-row: 1/4;
  grid-column: 1/2;
}
.status button {
  display: block;
  margin: 1rem 0;
  float: right;
}
/* shipped or proccessing or delivered or paid span style */

.title span {
  height: 1.5rem;
  font-size: 0.7rem;
  padding: 0.3rem 0.8rem;
  padding-left: 1.5rem;
  border-radius: 1rem;
  color: #fff;
  position: relative;
  background-color: var(--border);
}
.title span:first-child {
  margin-left: 1rem;
}
.title span::before {
  content: "";
  position: absolute;
  /* background-color: yellow; */
  border: 2px solid #fff;
  width: 0.5rem;
  height: 0.5rem;
  top: 50%;
  left: 0.5rem;
  transform: translateY(-50%);
  border-radius: 50%;
}
.title span.shipped {
  color: var(--text);
  background-color: var(--decorative);
  font-weight: 500;
}
.title span.shipped::before,
.title span.delivered::before,
.title span.paid::before {
  border: none;
  background-color: var(--text);
}
.title span.paid,
.title span.delivered {
  color: var(--text);
  background-color: var(--success);
  font-weight: 500;
}
.title span.delivered::before,
.title span.paid::before {
  background-color: var(--primary);
}

/* product component styles */
.product {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 0;
  border-bottom: 1px solid #ddd;
}
.product:last-child {
  border-bottom: none;
}
.product img {
  object-fit: contain;
  border-radius: 0.3rem;
  border: 1px solid var(--divider);
  margin-right: 1rem;
  flex-grow: 0;
}
.product .info {
  width: 16rem;
}
.product .name {
  color: var(--text);
  font-weight: 600;
}
.product .sku {
  color: var(--textSubdued);
  font-size: 0.6rem;
  margin: 0rem 0 0.5rem;
}
.product .attribute {
  font-size: 0.8rem;
}
.attribute b {
  font-weight: 500;
}
.product .qty,
.product .total {
  font-size: 0.8rem;
  flex-grow: 1;
  text-align: center;
  font-weight: 500;
}

/* customer note styles */
.customerNote {
  grid-row: 1/3;
  grid-column: 2/3;
  height: fit-content;
}
.customerNote p {
  color: #555;
  font-size: 0.8rem;
  padding: 0.5rem 0;
  text-align: justify;
}
.customer {
  grid-column: 2/3;
}
.box {
  border-top: 1px solid #ddd;
  padding: 1.3rem 0;
}
.box:first-of-type {
  border-top: none;
}
.box h1 {
  font-size: 0.9rem;
  font-weight: 500;
  margin-bottom: 0.5rem;
}
.box p {
  color: var(--text);
  font-size: 0.8rem;
  line-height: 1.2rem;
}
.name {
  display: block;
  text-decoration: none;
  color: var(--interactive);
  font-size: 0.85rem;
}
.name:hover {
  text-decoration: underline;
}

/* payment styles */
.payment {
  grid-column: 1/2;
  grid-row: 5/10;
}
.table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 1rem;
}
.table td {
  padding: 0.5rem 0;
  font-size: 0.8rem;
  color: var(--text);
}
.table tr:last-child td {
  border-bottom: none;
}
.table tr td:first-child {
  font-weight: 500;
}
.table tr td:last-child {
  text-align: right;
}
