.section {
  margin-bottom: 5rem;
}
.progressBar {
  max-width: 50rem;
  margin: 2rem auto;
  font-size: var(--fs-7);
}
.container {
  display: flex;
  gap: 2rem;
  flex-direction: column;
  margin-top: 2rem;
}
/* FORM */
.form {
  /* max-width: 30rem; */
  margin: 1rem 0;
  flex-grow: 1;
}
.title {
  font-size: var(--fs-6);
  font-weight: 600;
  margin-bottom: 1rem;
}
/* input box div */
.box {
  display: flex;
  margin-top: 1.5rem;
  border: 1px solid var(--cultured);
  padding: 0.8rem;
  box-shadow: var(--shadow-sm);
  border-radius: var(--border-radius-md);
  font-size: var(--fs-7);
}
.boxIcon {
  margin-right: 1.5rem;
}
.boxText {
  width: 100%;
}
.boxText h4 {
  font-weight: 500;
  margin-right: 0.5rem;
}
.box input {
  margin-top: 1rem;
  border: 1px solid var(--divider);
  padding: 0.6rem;
  color: var(--davys-gray);
  text-transform: none;
  border-radius: var(--border-radius-md);
  width: 100%;
}
.box input:focus {
  border: none;
  outline: 1px solid var(--davys-gray);
}

/* ORDER SUMMARY */
.summary {
  flex-grow: 1;
  font-size: var(--fs-7);
}
.summary .title {
  padding: 1rem 0;
  border-bottom: 1px solid var(--cultured);
}
.summaryList li {
  display: flex;
  justify-content: space-between;
  padding: 1rem 0;
  border-bottom: 1px solid var(--cultured);
}
.summaryList li :first-child {
  color: var(--sonic-silver);
}
.discountAmount{
  color: var(--ocean-green-dark);
}
.continueBtn {
  width: 100%;
  padding: 0.7rem;
  background-color: var(--ocean-green);
  color: var(--white);
  font-size: var(--fs-7);
  font-weight: 500;
  border: none;
  border-radius: var(--border-radius-md);
  cursor: pointer;
  transition: var(--transition-timing);
}
.continueBtn:hover {
  background-color: var(--ocean-green-dark);
}
.continueBtn:active {
  scale: 0.9;
}

@media (min-width: 768px) {
  .container {
    flex-direction: row;
  }
}
@media (min-width: 1024px) {
  .container {
    gap: 4rem;
    justify-content: center;
  }
  .form,
  .summary {
    width: 30rem;
    flex-grow: 0;
  }
}
