.progressBar {
  max-width: 50rem;
  margin: 2rem auto;
  font-size: var(--fs-7);
}

/* ORDER SUMMARY */
.summary {
  flex-grow: 1;
  font-size: var(--fs-7);
  max-width: 30rem;
  margin: 5rem auto;
}
.summary .title {
  padding: 1rem 0;
  border-bottom: 1px solid var(--cultured);
}
.summaryList li {
  display: flex;
  justify-content: space-between;
  padding: 1rem 0;
  border-bottom: 1px solid var(--cultured);
}
.summaryList li :first-child {
  color: var(--sonic-silver);
}
.continueBtn {
  width: 100%;
  padding: 0.7rem;
  background-color: var(--ocean-green);
  color: var(--white);
  font-size: var(--fs-7);
  font-weight: 500;
  border: none;
  border-radius: var(--border-radius-md);
  cursor: pointer;
  transition: var(--transition-timing);
}
.continueBtn:hover {
  background-color: var(--ocean-green-dark);
}
.continueBtn:active {
  scale: 0.9;
}
